.main-container .signin-content{
	position:absolute;
	width:1000px;
	height:400px;
	left:91px;
	right:91px;
	top:0px;
}

.contact-item .bar{
	width:60px;
	height:3px;
	margin-top:10px;
	background-color:#73ABE1;
}
textarea{
	font-size:12px;
	resize: none;
	padding: 10px;
}

table.signin-table{
	width:100%;
	height:100px;
	background-color: white;
}
table.signup-table input {
	width:100%;
	float:right;
}
table.signup-table tr{
	height:30px;
	line-height:30px;
}
td.title {
	width:30%;
	color:#73ABE1;
	font-size:12px;
	text-align: right;
	padding-right: 20px;

}
td.formdata {
	width:50%;
	color:gray;
	font-size:12px;
}

td.description {
	width:20%;
	color:gray;
	font-size:12px;
	padding-left:10px;
}

.btn_login {
	display: block;
	height:90%;
	line-height: 34px;
	cursor: pointer;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

.btn_login:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
